# Bitrix API credentials
BITRIX_DOMAIN=your_bitrix_domain
BITRIX_REGION=your_bitrix_region # e.g., ru, com, ua
BITRIX_AUTH_KEY=your_bitrix_auth_key

# Binotel API credentials
BINOTEL_API_KEY=your_binotel_api_key
BINOTEL_API_SECRET=your_binotel_api_secret
